div.page-description{
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    margin-left: 10vw;
    margin-right: 10vw;
}
#githubLink{
    text-decoration: none;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
#top-paragraph{
    text-align: center;
}
p.main{
    font-weight: bold;
    font-size: larger;
}
div.button-class-block{
    box-sizing: border-box;
    display:inline-block;
    width: 49vw;
}
#unplay-all{
    padding-right: 10vw;
}
#play-all{
    padding-left: 10vw;
}
ul.list{
    border-left: 5px solid blue;
    background-color: lightblue;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#played-list{
    list-style-type: circle;
}
#controller{
    width: 100px;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    div.button-class-block{
        width: 100%;
    }
    #unplay-all{
        padding-left: 10vw;
    }
    #play-all{
        padding-right:10vw;
    }
}
